# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env
*.sqlite3

# Python virtual environments
venv/
.env/